NodeRed/NodeRed Scooter Data.json
[{"id":"2926e2af.1e700e","type":"tab","label":"MQTT Simulator","disabled":false,"info":""},{"id":"7eb07666.2c39f8","type":"mqtt out","z":"2926e2af.1e700e","name":"ThingsBoard Scooter B","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"1918629c.fc633d","x":730,"y":300,"wires":[]},{"id":"847400b9.b9753","type":"inject","z":"2926e2af.1e700e","name":"Send Message","topic":"","payload":"","payloadType":"num","repeat":"2","crontab":"","once":false,"onceDelay":"5","x":240,"y":303,"wires":[["1c796dce.5e5332"]]},{"id":"1c796dce.5e5332","type":"function","z":"2926e2af.1e700e","name":"Generate Payload","func":"//var lat = [ \"36.82\", \"38.26\", \"39.77\", \"33.37\", \"35.62\", \"35.09\", \"33.87\", \"36.63\", \"34.97\", \"34.25\"];\n//var lon = [\"-94.49\",\"-96.74\",\"-97.79\",\"-94.20\",\"-90.19\",\"-90.57\",\"-89.62\",\"-83.90\",\"-92.26\",\"-91.99\"];\nvar lat = [ \"53.541\", \"53.542\", \"53.541\", \"53.540\", \"53.540\", \"53.542\", \"53.544\", \"53.545\", \"53.545\", \"53.543\"];\nvar lon = [\"-113.264\",\"-113.265\",\"-113.262\",\"-113.263\",\"-113.259\",\"-113.262\",\"-113.261\",\"-113.257\",\"-113.259\",\"-113.262\"];\n\n\n//var bat = (Math.random() * (30 - (0.5)) + (0.5)).toFixed(1);  //battery voltage\n//var bat = 23;\nvar bat = context.get('battery') || 99;\nif( bat < 0 )\n{\n    bat = 99;  \n}\ncontext.set('battery',bat-2); //store battery for next iteration\n//bat.toString();\n//String(bat);\nvar batString = String(bat);\n//batstringA = \"23\";\n\nvar idx = context.get('count') || 0;\n\nif( idx > 9 )\n{\n    idx = 0;  \n}\ncontext.set('count',idx+1); //store next idx for later\n\nmsg.payload = \n            {\n                \"speed\" : \"23.1\",\n                \"lat\" : lat[idx],\n                \"lon\" : lon[idx],\n                \"status\" : \"Rented\",\n                \"bat\" : bat,\n                \"bal\" : \"1200010000\"\n            };\n\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":303,"wires":[["2166c373.b65d3c","7eb07666.2c39f8"]]},{"id":"2166c373.b65d3c","type":"debug","z":"2926e2af.1e700e","name":"Scooter B","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":671,"y":368,"wires":[]},{"id":"212e3072.f98bf","type":"comment","z":"2926e2af.1e700e","name":"Inject Node","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":230,"y":263,"wires":[]},{"id":"425428c2.460568","type":"mqtt out","z":"2926e2af.1e700e","name":"ThingsBoard Scooter C","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"9bd8e4aa.19ce78","x":730,"y":480,"wires":[]},{"id":"74f1ff58.1ead1","type":"inject","z":"2926e2af.1e700e","name":"Send Message","topic":"","payload":"","payloadType":"num","repeat":"3","crontab":"","once":false,"onceDelay":"5","x":240,"y":483,"wires":[["3520e607.d534ca"]]},{"id":"3520e607.d534ca","type":"function","z":"2926e2af.1e700e","name":"Generate Payload","func":"//var lat = [32.42, 33.26, 32.77, 36.37, 38.62, 39.09, 41.87, 40.03, 41.97, 38.25];\n//var lon = [-94.49,-95.74,-95.79,-94.20,-92.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar lat = [ \"53.5400\", \"53.5402\", \"53.5402\", \"53.5401\", \"53.5403\", \"53.5404\", \"53.5405\", \"53.5405\", \"53.5406\", \"53.5408\", \"53.5409\", \"53.5413\", \"53.5419\", \"53.5416\", \"53.5411\",\"53.5408\", \"53.5404\"];\nvar lon = [\"-113.2901\",\"-113.2902\",\"-113.2902\",\"-113.2903\",\"-113.2904\",\"-113.2905\",\"-113.2906\",\"-113.2907\",\"-113.2908\",\"-113.2909\",\"-113.2907\",\"-113.2906\",\"-113.2908\",\"-113.2907\",\"-113.2906\",\"-113.2905\",\"-113.2903\"];\n\n//var randomLocation = (Math.random() * (0.7 - (-0.4)) + (-0.4)).toFixed(1);  //random between -0.6 and + 0.7\n//var randomLocation2 = (Math.random() * (0.9 - (-0.8)) + (-0.8)).toFixed(1);  //random between -0.6 and + 0.7\n\nvar randomLocation = (Math.random() * (0.0004 - (-0.0003)) + (-0.0003)).toFixed(5);  //random between -0.6 and + 0.7\nvar randomLocation2 = (Math.random() * (0.0006 - (-0.0005)) + (-0.0005)).toFixed(5);  //random between -0.6 and + 0.7\n\nvar bat = context.get('battery') || 99;\nif( bat < 0.3 )\n{\n    bat = 99;  \n}\ncontext.set('battery',bat-1); //store battery for next iteration\n\n\nvar idx = context.get('count') || 0;\n\nif( idx > 16 )\n{\n    idx = 0;  \n}\ncontext.set('count',idx+1); //store next idx for later\n\nvar lat_rand = lat[idx];\nlat_rand = +lat_rand + +randomLocation;\nlat_rand = lat_rand.toFixed(4);\n\nvar lon_rand = lon[idx];\nlon_rand = +lon_rand + +randomLocation2;\nlon_rand = lon_rand.toFixed(4);\n\n\n\n//var lat_rand = (lat[idx]+randomLocation).toFixed(2);\n//context.set('lat_rand',lat_rand); //store for debug\n\n\n//var lat_rand = lat[idx];\n//var lon_rand = lon[idx];\n\n//lat_rand.toString();\n//lon_rand.toString();\n\nmsg.payload = \n            {\n                \"speed\" : \"43.1\",\n                \"lat\" : String(lat_rand),\n                \"lon\" : String(lon_rand),\n                \"status\" : \"Rented\",\n                \"bat\" : bat,\n                \"bal\" : \"1101000000\"\n        \n            };\n\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":483,"wires":[["fae76d76.71c21","425428c2.460568"]]},{"id":"fae76d76.71c21","type":"debug","z":"2926e2af.1e700e","name":"Scooter C","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":671,"y":548,"wires":[]},{"id":"c56e9415.8d82d8","type":"comment","z":"2926e2af.1e700e","name":"Publish Via MQTT","info":"","x":701,"y":428,"wires":[]},{"id":"da6c7dcb.f0ca3","type":"comment","z":"2926e2af.1e700e","name":"Inject Node","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":230,"y":443,"wires":[]},{"id":"f20aec74.0e7e2","type":"mqtt out","z":"2926e2af.1e700e","name":"ThingsBoard Scooter D","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"61738e8c.dc30f","x":730,"y":660,"wires":[]},{"id":"14b9c731.baeea9","type":"inject","z":"2926e2af.1e700e","name":"Send Message","topic":"","payload":"","payloadType":"num","repeat":"20","crontab":"","once":false,"onceDelay":"5","x":240,"y":663,"wires":[["c87cf65d.d6df88"]]},{"id":"c87cf65d.d6df88","type":"function","z":"2926e2af.1e700e","name":"Generate Payload","func":"//var lat = [32.42, 33.26, 32.77, 36.37, 38.62, 39.09, 41.87, 40.03, 41.97, 38.25];\n//var lon = [-94.49,-95.74,-95.79,-94.20,-92.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar lat = [ \"53.546\", \"53.546\", \"53.546\", \"53.546\", \"53.546\", \"53.546\", \"53.544\", \"53.545\", \"53.545\", \"53.546\"];\nvar lon = [\"-113.278\",\"-113.278\",\"-113.279\",\"-113.278\",\"-113.277\",\"-113.278\",\"-113.278\",\"-113.279\",\"-113.278\",\"-113.279\"];\n\n//var randomLocation = (Math.random() * (0.7 - (-0.4)) + (-0.4)).toFixed(1);  //random between -0.6 and + 0.7\n//var randomLocation2 = (Math.random() * (0.9 - (-0.8)) + (-0.8)).toFixed(1);  //random between -0.6 and + 0.7\n\nvar bat = context.get('battery') || 0;\nif( bat > 100 )\n{\n    bat = 0;  \n}\ncontext.set('battery',bat+1); //store battery for next iteration\n\n\nvar idx = context.get('count') || 0;\n\nif( idx > 9 )\n{\n    idx = 0;  \n}\ncontext.set('count',idx+1); //store next idx for later\n\n\nvar lon_rand = lon[idx];\n//lon_rand = +lon_rand + +randomLocation;\n//lon_rand = lon_rand.toFixed(2);\n\nvar lat_rand = lat[idx];\n//lat_rand = +lat_rand + +randomLocation2;\n//lat_rand = lat_rand.toFixed(2);\n\n//var lat_rand = (lat[idx]+randomLocation).toFixed(2);\n//context.set('lat_rand',lat_rand); //store for debug\n\n\n//var lat_rand = lat[idx];\n//var lon_rand = lon[idx];\n\n//lat_rand.toString();\n//lon_rand.toString();\n\nmsg.payload = \n            {\n                \"speed\" : \"0\",\n                \"lat\" : \"53.546\",\n                \"lon\" : \"-113.278\",\n                \"status\" : \"Charging\",\n                \"bat\" : bat,\n                \"bal\" : \"3120000000\"\n             //   \"bat\" : String(bat)\n            };\n\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":663,"wires":[["a7a874f7.32af18","f20aec74.0e7e2"]]},{"id":"a7a874f7.32af18","type":"debug","z":"2926e2af.1e700e","name":"Scooter D","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":671,"y":728,"wires":[]},{"id":"9bfe56e3.0fe7c8","type":"comment","z":"2926e2af.1e700e","name":"Inject Node","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":230,"y":623,"wires":[]},{"id":"2bbab26f.637a3e","type":"comment","z":"2926e2af.1e700e","name":"Publish Via MQTT","info":"","x":704,"y":615,"wires":[]},{"id":"70626b20.ec4314","type":"comment","z":"2926e2af.1e700e","name":"Publish Via MQTT","info":"","x":711,"y":260,"wires":[]},{"id":"8859fc67.f8f42","type":"comment","z":"2926e2af.1e700e","name":"Simulate Data for 3 Scooters","info":"","x":460,"y":240,"wires":[]},{"id":"170ee15b.280cbf","type":"mqtt out","z":"2926e2af.1e700e","name":"ThingsBoard","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"f76c5d33.5984c","x":630,"y":120,"wires":[]},{"id":"6824e49e.8b574c","type":"mqtt in","z":"2926e2af.1e700e","name":"cloudMQTT","topic":"scooter/#","qos":"1","datatype":"auto","broker":"a593b85e.038418","x":351,"y":120,"wires":[["ed894725.597188","170ee15b.280cbf"]]},{"id":"ed894725.597188","type":"debug","z":"2926e2af.1e700e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":495,"y":160,"wires":[],"l":false},{"id":"41321f89.fecb9","type":"comment","z":"2926e2af.1e700e","name":"Route Scooter A data from CloudMQTT broker to Thingsboard","info":"","x":500,"y":60,"wires":[]},{"id":"1918629c.fc633d","type":"mqtt-broker","z":"","name":"ThingsBoard Scooter B","broker":"165.22.237.171","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9bd8e4aa.19ce78","type":"mqtt-broker","z":"","name":"ThingsBoard Scooter C","broker":"165.22.237.171","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61738e8c.dc30f","type":"mqtt-broker","z":"","name":"Thingsboard Scooter D","broker":"http://165.22.237.171/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f76c5d33.5984c","type":"mqtt-broker","z":"","name":"Thingsboard","broker":"165.22.237.171","port":"1883","clientid":"adfsad65434fsafasd77","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a593b85e.038418","type":"mqtt-broker","z":"","name":"CloudMQTT - nodered user","broker":"incredible-doctor.cloudmqtt.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]