NodeRed/NodeRed Radians Event Routing.json
[{"id":"365278e9.77dc88","type":"tab","label":"ThingsBoard Radians Events","disabled":false,"info":""},{"id":"d48b933a.833d4","type":"mqtt in","z":"365278e9.77dc88","name":"cloudMQTT","topic":"radians/events","qos":"1","datatype":"auto","broker":"a593b85e.038418","x":250,"y":140,"wires":[["df23f8b2.d26628"]]},{"id":"6c25afe3.8decf","type":"mqtt out","z":"365278e9.77dc88","name":"ThingsBoard - Radians","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"5380f5b.617d50c","x":820,"y":80,"wires":[]},{"id":"df23f8b2.d26628","type":"json","z":"365278e9.77dc88","name":"JSON convert","property":"payload","action":"","pretty":false,"x":260,"y":220,"wires":[["af7a6147.592e1"]]},{"id":"af7a6147.592e1","type":"switch","z":"365278e9.77dc88","name":"Event Switch","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"block.applied","vt":"str"},{"t":"eq","v":"transaction.applied","vt":"str"},{"t":"eq","v":"forger.missing","vt":"str"},{"t":"eq","v":"scooter.registered","vt":"str"},{"t":"eq","v":"scooter.rental.start","vt":"str"},{"t":"eq","v":"scooter.rental.finish","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":450,"y":220,"wires":[["46c759a.ec83ca8","ea31030.6fe7c"],["f21ff361.98506"],["7823d509.c66c6c"],["700caa63.ce5284"],["d7c19065.0c6d"],["ebfc5485.262ad8"]]},{"id":"9e7f29.c7f960d8","type":"comment","z":"365278e9.77dc88","name":"Sort Messages by Event Type","info":"","x":380,"y":300,"wires":[]},{"id":"ea31030.6fe7c","type":"debug","z":"365278e9.77dc88","name":"block.applied","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":140,"wires":[]},{"id":"f21ff361.98506","type":"debug","z":"365278e9.77dc88","name":"transaction.applied","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":180,"wires":[]},{"id":"7823d509.c66c6c","type":"debug","z":"365278e9.77dc88","name":"forger.missing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":220,"wires":[]},{"id":"a5a6b5b0.de8c48","type":"debug","z":"365278e9.77dc88","name":"scooter.registered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":260,"wires":[]},{"id":"13952e1f.079f92","type":"debug","z":"365278e9.77dc88","name":"scooter.rental.finish 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":520,"wires":[]},{"id":"700caa63.ce5284","type":"function","z":"365278e9.77dc88","name":"","func":"data = msg.payload.data;\nmsg.payload=data;\nreturn msg;\n","outputs":1,"noerr":0,"x":595,"y":260,"wires":[["3072f29.d57f90e"]],"l":false},{"id":"3072f29.d57f90e","type":"json","z":"365278e9.77dc88","name":"","property":"payload","action":"","pretty":true,"x":655,"y":280,"wires":[["9ab99845.9a4238","a5a6b5b0.de8c48"]],"l":false},{"id":"9ab99845.9a4238","type":"mqtt out","z":"365278e9.77dc88","name":"ThingsBoard - scooter.registered","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"ac918681.0a2c58","x":830,"y":300,"wires":[]},{"id":"d7c19065.0c6d","type":"function","z":"365278e9.77dc88","name":"","func":"data = msg.payload.data;\nmsg.payload=data;\nreturn msg;\n","outputs":1,"noerr":0,"x":595,"y":340,"wires":[["6448b255.1e5cfc"]],"l":false},{"id":"ebfc5485.262ad8","type":"function","z":"365278e9.77dc88","name":"","func":"data = msg.payload.data;\nmsg.payload=data;\nreturn msg;\n","outputs":1,"noerr":0,"x":475,"y":500,"wires":[["39020cef.412ee4"]],"l":false},{"id":"cfa175cb.910198","type":"json","z":"365278e9.77dc88","name":"","property":"payload","action":"","pretty":true,"x":695,"y":380,"wires":[["33741666.8e16da"]],"l":false},{"id":"208ff7a6.503a38","type":"json","z":"365278e9.77dc88","name":"","property":"payload","action":"","pretty":true,"x":655,"y":520,"wires":[["13952e1f.079f92","15a77610.7af2da"]],"l":false},{"id":"33741666.8e16da","type":"mqtt out","z":"365278e9.77dc88","name":"ThingsBoard - scooter.rental.start","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"5600e561.9408bc","x":880,"y":380,"wires":[]},{"id":"15a77610.7af2da","type":"mqtt out","z":"365278e9.77dc88","name":"ThingsBoard - scooter.rental.finish","topic":"v1/devices/me/telemetry","qos":"0","retain":"","broker":"d360fb52.50e878","x":840,"y":580,"wires":[]},{"id":"6448b255.1e5cfc","type":"function","z":"365278e9.77dc88","name":"","func":"msg.payload = \n            {\n                \"version\" : msg.payload.version,\n                \"network\" : msg.payload.network,\n                \"typeGroup\" : msg.payload.typeGroup,\n                \"type\" : msg.payload.type,\n                \"nonce\" : msg.payload.nonce,\n                \"senderPublicKey\" : msg.payload.senderPublicKey,\n                \"fee\" : msg.payload.fee,\n                \"amount\" : msg.payload.amount,\n                \"recipientId\" : msg.payload.recipientId,\n\t            \"asset_gps_timestamp\": msg.payload.asset.gps.timestamp,\n\t            \"asset_gps_latitude\": msg.payload.asset.gps.latitude,\n\t            \"asset_gps_longitude\": msg.payload.asset.gps.longitude,\n            \t\"asset_gps_human\": msg.payload.asset.gps.human,\n\t            \"asset_sessionId\": msg.payload.asset.sessionId,\n\t            \"asset_rate\": msg.payload.asset.rate,\n\t            \"asset_gpsCount\": msg.payload.asset.gpsCount,\n                \"signature\" : msg.payload.signature,\n                \"id\" : msg.payload.id,\n                \"blockId\" : msg.payload.blockId,\n                \"sequence\" : msg.payload.sequence\n            };\nreturn msg;\n","outputs":1,"noerr":0,"x":615,"y":420,"wires":[["66534456.01463c","cfa175cb.910198"]],"l":false},{"id":"66534456.01463c","type":"debug","z":"365278e9.77dc88","name":"scooter.rental.start 3 parsed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":440,"wires":[]},{"id":"82b10f69.dd662","type":"inject","z":"365278e9.77dc88","name":"","topic":"","payload":" {    \"version\":2,    \"network\":65,    \"typeGroup\":4000,    \"type\":500,    \"nonce\":\"29\",    \"senderPublicKey\":\"02cbe4667ab08693cbb3c248b96635f84b5412a99b49237f059a724f2cfe2b733f\",    \"fee\":\"10000000\",    \"amount\":\"1\",    \"recipientId\":\"TRXA2NUACckkYwWnS9JRkATQA453ukAcD1\",    \"asset\":{        \"gps\":{           \"timestamp\":1581980593,          \"latitude\":\"1.111111\",          \"longitude\":\"-180.222222\",          \"human\":\"2020-02-17T23:03:13.000Z\"       },       \"sessionId\":\"2cf24dba5fb0a30e26e83b2ac5b9e29e1b161e5c1fa7425e73043362938b9824\",       \"rate\":\"5\",       \"gpsCount\":1    },    \"signature\":\"0bfc08328609462c801a674b5a174242649220aad8afe64d21898e3b0c7bc7ddcdc7914dbab4aa349310e63b2a265d17955d276b89c56ab3fd459233b6e76f78\",    \"id\":\"493aa01cf4616c12e6d62160446ff9873516881cdf47f30c879a91ea29758e17\",    \"blockId\":\"3078525573676514588\",    \"sequence\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":515,"y":420,"wires":[["6448b255.1e5cfc"]],"l":false},{"id":"39020cef.412ee4","type":"function","z":"365278e9.77dc88","name":"","func":"msg.payload = \n            {\n                \"version\" : msg.payload.version,\n                \"network\" : msg.payload.network,\n                \"typeGroup\" : msg.payload.typeGroup,\n                \"type\" : msg.payload.type,\n                \"nonce\" : msg.payload.nonce,\n                \"senderId\" : msg.payload.sender,\n                \"senderPublicKey\" : msg.payload.senderPublicKey,\n                \"fee\" : msg.payload.fee,\n                \"amount\" : msg.payload.amount,\n                \"recipientId\" : msg.payload.recipientId,\n\t            \"asset_gps_timestamp0\": msg.payload.asset.gps[0].timestamp,\n\t            \"asset_gps_latitude0\": msg.payload.asset.gps[0].latitude,\n\t            \"asset_gps_longitude0\": msg.payload.asset.gps[0].longitude,\n            \t\"asset_gps_human0\": msg.payload.asset.gps[0].human,\n \t            \"asset_gps_timestamp1\": msg.payload.asset.gps[1].timestamp,\n\t            \"asset_gps_latitude1\": msg.payload.asset.gps[1].latitude,\n\t            \"asset_gps_longitude1\": msg.payload.asset.gps[1].longitude,\n            \t\"asset_gps_human1\": msg.payload.asset.gps[1].human,           \t\n\t            \"asset_sessionId\": msg.payload.asset.sessionId,\n\t            \"containsRefund\": msg.payload.asset.containsRefund,\n\t            \"asset_gpsCount\": msg.payload.asset.gpsCount,\n\t            \"asset_rideDuration\": msg.payload.asset.rideDuration,\n                \"signature\" : msg.payload.signature,\n                \"id\" : msg.payload.id,\n                \"blockId\" : msg.payload.blockId,\n                \"sequence\" : msg.payload.sequence\n            };\nreturn msg;\n","outputs":1,"noerr":0,"x":575,"y":520,"wires":[["d1564c10.b83b8","208ff7a6.503a38"]],"l":false},{"id":"d1564c10.b83b8","type":"debug","z":"365278e9.77dc88","name":"scooter.rental.finish 3 parsed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":640,"wires":[]},{"id":"46c759a.ec83ca8","type":"function","z":"365278e9.77dc88","name":"","func":"data = msg.payload.data;\nmsg.payload=data;\nreturn msg;\n","outputs":1,"noerr":0,"x":553,"y":161,"wires":[["2daba102.da1e1e"]],"l":false},{"id":"2daba102.da1e1e","type":"json","z":"365278e9.77dc88","name":"","property":"payload","action":"","pretty":true,"x":635,"y":120,"wires":[["6c25afe3.8decf"]],"l":false},{"id":"d9c705fd.020e88","type":"comment","z":"365278e9.77dc88","name":"Route messages from Ark MQTT event emitter plugin to Thingsboard","info":"","x":400,"y":60,"wires":[]},{"id":"a593b85e.038418","type":"mqtt-broker","z":"","name":"CloudMQTT - nodered user","broker":"incredible-doctor.cloudmqtt.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5380f5b.617d50c","type":"mqtt-broker","z":null,"name":"Thingsboard - Radians","broker":"165.22.237.171","port":"1883","clientid":"ad34fsafasd12","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac918681.0a2c58","type":"mqtt-broker","z":"","name":"ThingsBoard - scooter.registered","broker":"165.22.237.171","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5600e561.9408bc","type":"mqtt-broker","z":"","name":"ThingsBoard - scooter.rental.start","broker":"165.22.237.171","port":"1883","clientid":"fgsdfgs4345sdfgd3","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d360fb52.50e878","type":"mqtt-broker","z":"","name":"ThingsBoard - scooter.rental.finish","broker":"165.22.237.171","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]